button {
	padding: 8px 12px;
	border-radius: 2px;
	border: 0;
	background-color: var(--primary);
	color: var(--white);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.13);
	cursor: pointer;
}

button:active {
	opacity: 0.6;
}

button:active {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}