.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: var(--grid-gutters);
	margin-bottom: var(--grid-gutters);
}

.grid>div {
	overflow: auto;
}

.span2 { grid-column: auto / span 2;}
.span3 { grid-column: auto / span 3;}
.span4 { grid-column: auto / span 4;}
.span5 { grid-column: auto / span 5;}
.span6 { grid-column: auto / span 6;}
.span7 { grid-column: auto / span 7;}
.span8 { grid-column: auto / span 8;}
.span9 { grid-column: auto / span 9;}
.span10 { grid-column: auto / span 10;}
.span11 { grid-column: auto / span 11;}
.span12 { grid-column: auto / span 12;}

@media(max-width: 640px) {
	.span2, .span3, .span4, .span5,
	.span6, .span7, .span8, .span9,
	.span10, .span11, .span12 {
		grid-column: auto / span 12;
	}
}