@import 'fonts.css';
@import 'vars.css';
@import 'grid.css';
@import 'nav.css';
@import 'inputs.css';
@import 'tables.css';
@import 'modal.css';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0 0 10px 0;
	color: var(--black);
}

main {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	font-weight: normal;
}

p {
	line-height: 180%;
}

a{
	text-decoration: none;
	cursor: pointer;
}

a:link, a:visited {
	color: var(--primary);
}

a:hover, a:active {
	color: var(--primary-light);
}

strong {
	font-weight: 500;
}

hr {
	border: 0;
	border-bottom: solid 1px #ddd;
	margin: 30px 0 25px;
}

header {
	background: linear-gradient(20deg, #00dbde, #fc00ff);
	padding:  120px 20px 120px;
	margin-bottom: 30px;
}

header > h1 {
	text-align: center;
	margin: 0 auto;
	width: var(--page-width);
	max-width: 100%;
	color: white;
	font-size: 72px;
	letter-spacing: 8px;
	font-weight: 300;
}

@media(max-width: var(--mobile-width)) {
	header > h1 {
		font-size: 54px;
	}
}

footer {
	width: var(--page-width);
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}