@import 'fonts.css';
@import 'vars.css';
@import 'grid.css';
@import 'nav.css';
@import 'inputs.css';
@import 'tables.css';

body {
	font-family: 'Roboto', sans-serif;
	margin: 0 0 10px 0;
	color: var(--black);
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	font-weight: normal;
}

p {
	line-height: 180%;
}

a{
	text-decoration: none;
	cursor: pointer;
}

a:link, a:visited {
	color: var(--primary);
}

a:hover, a:active {
	color: var(--primary-light);
}

strong {
	font-weight: 500;
}

header {
	background: linear-gradient(20deg, #00dbde, #fc00ff);
	padding:  120px 20px 120px;
	margin-bottom: 30px;
}

header > h1 {
	text-align: center;
	margin: 0 auto;
	width: 800px;
	color: white;
	font-size: 72px;
	letter-spacing: 8px;
	font-weight: 300;
}