.modal-wrap {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    overflow: auto;
}

.modal-wrap.active {
    display: block;
}

.modal-wrap .modal {
    background-color: white;
    width: 600px;
    max-width: 96%;
    margin: 150px auto 70px;
    padding: 20px;
    border-radius: 3px;
}