nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    top: 0;
    box-shadow: 0px 3px 11px 1px #69696900;
    transition: padding 300ms, box-shadow 300ms;
}

nav.floating {
    box-shadow: 0px 3px 11px 1px #6969693b;
    padding: 30px 20px;
}

nav>div.nav-wrap {
    width: var(--page-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}