:root {
	/* COLORS */
	--black: #303030;
	--grey: #aaaaaa;
	--primary: rgb(10, 161, 231);
	--primary-light: rgb(93, 191, 236);
	--white: #eee;

	/* PAGE SETTINGS */
	--page-width: 800px;
	--grid-gutters: 15px;
}